on: pull_request

# Sets permissions of the GITHUB_TOKEN to allow write pull-requests
permissions:
  pull-requests: write

jobs:
  delta-typescript-graph-job:
    runs-on: ubuntu-latest
    name: Test dummy project
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - name: Delta Typescript Graph
        id: tsg
        uses: ysk8hori/delta-typescript-graph-action@1a6e5a7f1e5533e6ba3027dee49f85e4cbc5dc7f
        with:
          access-token: ${{ secrets.GITHUB_TOKEN }}
          tsconfig: tsconfig.json
          max-size: 100
          orientation: LR
          debug: true
          include-index-file-dependencies: true
          comment-title: 'Dummy project dependency graph'
